:root {
    background-color: black;
    color: yellow;
}

.container {
    display: grid;
    grid-template: 50px 50px / 50px 50px;
    grid-template-columns: 
    [left] 1fr
    [right] 1fr
    [right2] 1fr;
    grid-template-areas: "top" "toptop";
    grid-auto-rows: 50px;
    gap: 50px 50px;
}

.container > div {
    /* border: dotted 1px purple; */
}