html {
    font-family: sans-serif;
    background: rgb(93, 93, 93);
}

body {
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

fieldset {
  padding: 30px;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
  appearance: none;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid pink;
  border-radius: 25px;
  vertical-align: -2px;
  color: green;
  display: block;

}

input[type="radio"]::after {
  position: absolute;
  content: "X";
  font-size: 1.7em;
  right: 1px;
  top: -0.15em;
  visibility: hidden;

}


input[type="radio"]:checked::after {
  visibility: visible;
}