html {
    font-family: sans-serif;
    background: rgb(93, 93, 93);
}

body {
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
}


input[type="search"] {
  appearance: none;
  height: 25px;
  width: 300px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px orange;
}

input[type="search"]:hover {
  background-color: rgb(119, 0, 255);
}

input[type="search"]:focus {
  padding: 15px orange;
  border: 1px solid white;
  
}

input[type="search"] + div {
  position: relative;
}

input[type="search"]::after + div {
  content: "spyder";
  position: absolute;
}