html {
    font-family: sans-serif;
    background: rgb(93, 93, 93);
  }

fieldset {
  border: 1px solid #000;
}

legend {
  background-color: #fff;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label, input {
  display: flex;
  flex-direction: column;
}